header, body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

#calcSides {
    border: solid;
    border-color: red;
    height: 500px;
    width: 425px;
    align-items: center;
    margin: auto;
    justify-content: center;
    display: flex;
}

#result {
    width: 365px;
    height: 20px;
    margin-bottom: 350px;
}